@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 14% 4%;
    --foreground: 210 40% 98%;
    --card: 20 14% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 38 92% 50%;
    --primary-foreground: 20 14% 9%;
    --secondary: 20 14% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 20 14% 16%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 20 14% 16%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 20 14% 16%;
    --input: 20 14% 16%;
    --ring: 38 92% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
